body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F2E3E1;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #7F2E40;
    color: #D1BAC7;
    transition: background-color 0.3s ease;
}
.header:hover {
    background-color: #b3001b;
}
.footer{
    color: #7ea3cc;
    transition: text-shadow 0.3s ease;
}
.footer:hover{
    text-shadow: 0px 0px 5px #232ed1;
}
.enlace{
    text-decoration: none;
    color: #D1BAC7;
    margin: 0 10px;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s ease;
    transition: text-shadow 0.3s ease;
}
.enlace:hover {
    color: #E5C6C3;
    text-shadow: 0px 0px 5px #7ea3cc;
}
.tarjeta_main{
    margin: 20px;
    padding: 20px;
    border: 2px solid #7F2E40;
    border-radius: 10px;
    background-color: #E5C6C3;
    box-shadow: 10px 10px 10px #7F2E40;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    transition: box-shadow 0.3s ease;
}
.tarjeta_main:hover {
    background-color: #D1BAC7;
    box-shadow: 10px 10px 10px #5F4A8E; 
}
.tarjeta_main p{
    font-size: 18px;
    line-height: 1.5;
    color: #941B0C;
    display: flex;
    flex-direction: column;
}
.h1{
    font-size: 32px;
    color: #941B0C;
}
.tarjeta_sub h2{
    font-size: 24px;
    line-height: 1.5;
    color: #7F2E40;
    display: flex;
    flex-direction: column;
}
.tarjeta_sub{
    margin: 20px;
    padding: 20px;
    border: 2px solid #7F2E40;
    border-radius: 10px;
    background-color: #E5C6C3;
    box-shadow: 10px 10px 10px #7F2E40;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    transition: box-shadow 0.3s ease;
}
.tarjeta_sub:hover {
    background-color: #D1BAC7;
    box-shadow: 10px 10px 10px #5F4A8E; 
}
.tarjeta_sub p{
    font-size: 18px;
    line-height: 1.5;
    color: #941B0C;
    display: flex;
    flex-direction: column;
}
.imagen1{
    position:    relative;
    
    max-width: 400px;
    max-height: 400px;
    box-shadow: #5F4A8E 10px 10px 10px;
}
.imagen2{
    position:   relative;
    left: 200px;
    max-width: 400px;
    max-height: 400px;
    box-shadow: #5F4A8E 10px 10px 10px;
}
.menu-hamburguesa input[type="checkbox"] {
    display: none;
}
.menu-hamburguesa label {
    display: none;
}
@media (max-width: 780px) {
    .menu-hamburguesa label {
        display: block;
        cursor: pointer;
        padding: 10px;
        cursor: pointer;
        transition: color 0.3s ease;
        transition: box-shadow 0.3s ease;
    }
    
    .menu-hamburguesa label:hover {
        color: #E5C6C3;
        box-shadow: 0px 0px 10px #E5C6C3;
    }

    .menu-hamburguesa ul {
        display: none;
    }

    .menu-hamburguesa input[type="checkbox"]:checked ~ ul {
        display: block;
    }

    .menu-hamburguesa ul {
        position: absolute;
        top: -2px;
        right: 70px;
        background: #941B0C;
        width: 200px;
        flex-direction: column;
    }   
    .imagen1{
    position:  relative;
    max-width: 150px;
    max-height: 150px;
    }
    .imagen2{
        position: relative;
        left: 25px;
        max-width: 150px;
        max-height: 150px;
    }

}